@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}


/* navbar */
.navbar {
  padding: 20px;
  display: flex;
  align-items: flex-end;
  margin: 0 auto;
  border-bottom: 1px solid #d88211;
  background-color: #333;
}
.navbar h1 {
  color: #e77d19;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  text-decoration: none;
  padding: 6px;
  align-items: end;
  color: #e77d19;
}
.navbar a:hover {
  color: #e77d19;
}

/* Download css */

.download input,
.download button {
  font-family: 'Poppins', sans-serif;
}

.download *{
  box-sizing: border-box;
}

.download {
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  font-family: 'Poppins', sans-serif;
  /* background: url("./images/Search_132.png"); */
  background: url("./images/bg.png");
  background-size: cover;
  background-position: center center;
  padding: 15px;
}


.download form {
  width: 100%;
  max-width: 790px;
}

.download form .inner-form {
  background: rgba(0, 0, 0, 0.5);
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

.download form .inner-form .input-field {
  height: 68px;
}

.download form .inner-form .input-field input {
  height: 100%;
  background: transparent;
  border: 0;
  display: block;
  width: 100%;
  padding: 10px 32px;
  font-size: 16px;
  color: #fff;
}

.download form .inner-form .input-field input.placeholder {
  color: #e5e5e5;
  font-size: 16px;
}

.download form .inner-form .input-field input:-moz-placeholder {
  color: #e5e5e5;
  font-size: 16px;
}

.download form .inner-form .input-field input::-webkit-input-placeholder {
  color: #e5e5e5;
  font-size: 16px;
}

.download form .inner-form .input-field input:hover, .download form .inner-form .input-field input:focus {
  box-shadow: none;
  outline: 0;
  border-color: #fff;
}

.download form .inner-form .input-field.first-wrap {
  width: 200px;
}

.download form .inner-form .input-field.first-wrap .choices__inner {
  background: transparent;
  border-radius: 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 100%;
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding: 10px 30px;
}

.download form .inner-form .input-field.first-wrap .choices__inner .choices__list.choices__list--single {
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -ms-flex-align: center;
      align-items: center;
  height: 100%;
}

.download form .inner-form .input-field.first-wrap .choices__inner .choices__item.choices__item--selectable.choices__placeholder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: 100%;
  opacity: 1;
  color: #e5e5e5;
  font-size: 16px;
}

.download form .inner-form .input-field.first-wrap .choices__inner .choices__list--single .choices__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: 100%;
}

.download form .inner-form .input-field.first-wrap .choices[data-type*="select-one"]:after {
  right: 30px;
  border-color: #e5e5e5 transparent transparent transparent;
}

.download form .inner-form .input-field.first-wrap .choices__list.choices__list--dropdown {
  border: 0;
  background: black;
}

.download form .inner-form .input-field.first-wrap .choices__list.choices__list--dropdown .choices__item--selectable {
  padding-right: 0;
}

.download form .inner-form .input-field.first-wrap .choices__list--dropdown .choices__item--selectable.is-highlighted {
  background: #000;
  color: #fff;
}

.download form .inner-form .input-field.first-wrap .choices__list--dropdown .choices__item {
  color: #e5e5e5;
}

.download form .inner-form .input-field.first-wrap .choices__list--dropdown {
  margin-top: 0;
}

.download form .inner-form .input-field.second-wrap {
  -ms-flex-positive: 1;
      flex-grow: 1;
}

.download form .inner-form .input-field.second-wrap input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 0;
  border-right: 0;
}

.download form .inner-form .input-field.third-wrap {
  width: 164px;
}

.download form .inner-form .input-field.third-wrap .btn-search {
  font-weight: 300;
  height: 100%;
  width: 100%;
  white-space: nowrap;
  font-size: 20px;
  color: #fff;
  border: 0;
  cursor: pointer;
  position: relative;
  z-index: 0;
  /* background: linear-gradient(45deg, #2c6dd5 0%, #2c6dd5 28%, #ff4b5a 91%, #ff4b5a 100%); */
}

.download form .inner-form .input-field.third-wrap .btn-search:before {
  border-radius: inherit;
  /* background: linear-gradient(45deg, #ff4b5a 0%, #ff4b5a 28%, #2c6dd5 91%, #2c6dd5 100%); */
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  z-index: -1;
  transition: all .2s ease-out, color .2s ease-out;
}

.download form .inner-form .input-field.third-wrap .btn-search:hover::before {
  opacity: 1;
}

.download form .inner-form .input-field.third-wrap .btn-search:focus {
  outline: 0;
  box-shadow: none;
}

@media screen and (max-width: 992px) {
  .download form .inner-form .input-field {
    height: 50px;
  }
}

@media screen and (max-width: 767px) {
  .download form .inner-form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px;
  }
  .download form .inner-form .input-field {
    margin-bottom: 20px;
  }
  .download form .inner-form .input-field input {
    padding: 10px 15px;
  }
  .download form .inner-form .input-field.first-wrap {
    width: 100%;
  }
  .download form .inner-form .input-field.first-wrap .choices__inner {
    padding: 10px 15px;
  }
  .download form .inner-form .input-field.first-wrap .choices[data-type*="select-one"]:after {
    right: 11.5px;
    border-color: #e5e5e5 transparent transparent transparent;
  }
  .download form .inner-form .input-field.second-wrap {
    width: 100%;
  }
  .download form .inner-form .input-field.second-wrap input {
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  .download form .inner-form .input-field.third-wrap {
    margin-bottom: 0;
    width: 100%;
  }
}

/* welcome */
.welcome {
  display: flex;
  align-items: center;
}
.welcome h1{
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 20px;
  color: #d88211;
}